*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body {
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f7fa;
    
    padding: 3rem;
    margin: 0 auto;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.gradient-table{
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
    border-collapse: separate;
    border-spacing: 0;
    box-shadow: 0 10px 25px rgba(219, 123, 123, 0.1);
}
.gradient-table thead {
    background: linear-gradient(135deg, #3b82f6, #8b5cf6);
}

.gradient-table th {
    color: rgb(225, 222, 222);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.3rem 1.5rem;
    position: relative;
    background-color: rgb(85, 90, 87);
}
.gradient-table th:not(:last-child)::after {
    content: '';
    position: absolute;
    right: 0;
    top: 30%;
    height: 40%;
    width: 1px;
    background-color:#a7a9a7;
}
.gradient-table td {
    padding: 1rem 1rem;
    border-bottom: 1px solid #c2c8c2;
    position: relative;
}
.gradient-table tbody tr:last-child td {
    border-bottom: none;
}
.gradient-table tbody tr {
    transition: all 0.3s ease;
}
.gradient-table tbody tr:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    z-index: 10;
    background-color: rgba(109, 143, 176, 0.95);
    
}
.gradient-table tbody tr:nth-child(odd) {
    background-color: rgba(148, 166, 201, 0.7);
}

.gradient-table tbody tr:nth-child(odd):hover {
    background-color: rgba(173, 194, 188, 0.95);
}

button{
    padding: 10px;
    margin: 10px 28px;
    background-color: rgb(71, 98, 68);
    border: none;
    border-radius: 2px;
}
.contain{
    display: flex;
    align-items: center;
}
 button a{ 
    text-decoration: none;
    color: antiquewhite;
    
}
table{
    width: 100%;
    border-collapse : collapse;
    margin: 2rem 0;
}
thead{
    background-color: aqua;
}
table, th, td{
    border: 1px solid rgb(175, 154, 154);
    text-align: center;
}
tr:nth-child(even){
    background-color: #f2f2f2;
}
th{
    background-color: #f8fafc;
    font-weight: 600;
    text-align: left;
    padding: 0.75rem 1rem;
    border-bottom: 2px solid #e2e8f0;
}
td{
    padding: 8px;
}
td a{
    text-decoration: none;
    color: rgb(62, 113, 90);
    background-color: lightgrey;
    padding: 8px;
    border-radius: 6px;
}
 
.btn{
    background-color: blue;
}
@media only screen and (max-width: 400px) {
  /* Force table to not act like a table */
  table, thead, tbody, td{
    width: 300px;
  }
}
  